/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
}

.logo{
    font-size: 2rem;
}

.links a{
    text-decoration: none;
    color: darkblue;
    padding: 10px;
}

header{
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: bisque;
}

.links button{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
}

.container{
    background: linear-gradient(to top, rgba(251,191,119,0.8),rgba(255,255,255,1));
    padding: 10px;
    text-align: center;
    height: 700px;
    width: 100%;
}

.btn{
    position: relative;
}

.btn button{
    padding: 15px 30px;
    margin: 10px;
    color: white;
    border: none;
}

.btn1{
    background-color: black;
    position:absolute;
    top: 10px;
    left: 500px;
    
}

.btn2{
    background-color: blue;
    position: absolute;
    top: 10px;
    right: 500px;
}

.hero{
    padding-top: 30px;
}

.hero h2{
    padding: 5px;
    font-size: 2rem;

}

.picture img{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 400px;
    box-shadow: 5px 5px 20px rgb(167, 83, 23);
}

.main{
    position: relative;
}

.tasks{
    background-color: rgba(255, 160, 122, 0.774);
    width: 10%;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 100px;
    box-shadow: 5px 5px 20px rgb(167, 83, 23);
}

.projects{
    background-color: rgba(255, 160, 122, 0.774);
    width: 10%;
    padding: 10px;
    position: absolute;
    top: 150px;
    right: 100px;
    box-shadow: 5px 5px 20px rgb(167, 83, 23);
}

.chats{

    width: 0%;
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 50;
    
}

.chats i{
    font-size: 2rem;
    
}

.teams{
    background-color: rgba(255, 160, 122, 0.774);
    padding: 10px;
    position: absolute;
    right: 100px;
    top: 300px;
    display: flex;
    box-shadow: 5px 5px 20px rgb(167, 83, 23);
}

.teams img{
    width: 50px;

}
.teams span{
    margin-top: 20px;
} */

@import "tailwindcss";

